@model MVC.task.ViewModel.LoginCred

<h1>Login</h1>

<form method="post" asp-action="SubmitLogin" asp-controller="Auth">
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" type="password" />
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="submit" class="btn btn-primary mt-3" />
    <a class="btn btn-secondary mt-3" href="/Auth/Register">Registration</a>
    <a class="btn btn-secondary mt-3" href="/Auth/ResetPassword">Reset Password</a> <!-- Add this line -->
</form>